name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  ContibutorLicenseAgreement:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: cla-assistant/github-action@v2.1.3-beta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN : ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: '.github/cla/v1/signatures.json'
          path-to-document: 'https://github.com/dsommerville-illumio/illumio-py/blob/main/.github/CLA.md' # e.g. a CLA or a DCO document
          branch: 'main'
          allowlist: dependabot[bot]
          # remote-organization-name: illumio
          # remote-repository-name: cla-agreements

