name: Tests

on:
  push:
    paths:
      - 'illumio/**'
      - 'tests/**'
      - 'workflows/run-tests.yml'
  pull_request:
    branches:
      - main
      - 'release/**'
    paths:
      - 'illumio/**'
      - 'tests/**'
      - 'workflows/run-tests.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
        exclude:
          - python-version: "3.6"
            os: ubuntu-latest
        include:
          - python-version: "3.6"
            os: ubuntu-20.04
          - python-version: "3.12-dev"
            os: ubuntu-latest
            experimental: true

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install dependencies
      run: |
        make
    - name: Run tests
      run: |
        make ci